<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js" type='text/javascript'></script>
    
    <title>Quora</title>
  </head>

  <body>
  	<p><a href="http://localhost:9393/">Mainpage</a></p>
      <% @questions.each do |x| %>
        <ul>
          <li>
            <a href="/questions/<%= x.id %>" target="_blank"><%= x.question %></a>
            <form method=post action="/questions/<%= x.id %>">
              <button>Delete</button>
            </form>

            <form method=post action="/question/<%= x.id %>/questionvotes">
              <button>Upvote</button>
              <% upvote_count = QuestionVote.where(question_id: x.id, vote: "true").count %>
              <%= upvote_count %>
            </form>
            
            <form method=post action="/question/<%= x.id %>/questionvotes1">
              <button>Downvote</button>
              <% downvote_count = QuestionVote.where(question_id: x.id, vote: "false").count %>
              <%= downvote_count %>
            </form>
          </li>
        </ul>
      <% end %>
  </body>

 </html>